{
  "log": {
    "_recordingName": "fetchOrganizations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6963c6f3f589a3e055a06cafb0ba8004",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 362,
            "text": "{\"account\":{\"url\":\"https://jupiterone-dev.zendesk.com\",\"name\":\"JupiterOne\",\"sandbox\":false,\"subdomain\":\"jupiterone-dev\",\"time_format\":24,\"time_zone\":\"America/New_York\",\"owner_id\":420755677092,\"multiproduct\":true}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "195"
            },
            {
              "name": "etag",
              "value": "W/\"a80e3e81a54a847723877a9cbb1366d9\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-thtrq"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 438,
      },
      {
        "_id": "de45a5ef1f284a357f682f3933d50fc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/organizations.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 574,
            "text": "{\"organizations\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/organizations/361584776731.json\",\"id\":361584776731,\"name\":\"JupiterOne\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2021-10-10T20:49:30Z\",\"updated_at\":\"2021-11-05T16:50:42Z\",\"domain_names\":[],\"details\":\"\",\"notes\":\"\",\"group_id\":360021738231,\"tags\":[],\"organization_fields\":{}}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "etag",
              "value": "W/\"aee7c5535e2c5f8d50b0f209ef410549\""
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "191"
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-hc6mc"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 546,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
