{
  "log": {
    "_recordingName": "fetchOrganizations",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "71132bc8328738c324ffee5bedf9bc22",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://creativice.zendesk.com/api/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "{\"account\":{\"url\":\"https://creativice.zendesk.com\",\"name\":\"Creativice\",\"sandbox\":false,\"subdomain\":\"creativice\",\"time_format\":24,\"time_zone\":\"Europe/Belgrade\",\"owner_id\":5812690998173,\"multiproduct\":true}}"
          },
            {
              "domain": ".creativice.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v12848"
            },
            {
              "name": "x-rate-limit",
              "value": "400"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "399"
            },
            {
              "name": "etag",
              "value": "W/\"970818d7b55eb7bd1f1c2b110b6a095a\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7c5f486964-7gfdt"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 258,
      },
      {
        "_id": "778a4a41bb7769b5735c2cff818474c3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://creativice.zendesk.com/api/v2/organizations.json?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 802,
            "text": "{\"organizations\":[{\"url\":\"https://creativice.zendesk.com/api/v2/organizations/5812638859421.json\",\"id\":5812638859421,\"name\":\"Creativice\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2022-07-06T18:46:13Z\",\"updated_at\":\"2022-07-06T18:46:13Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{}}],\"meta\":{\"has_more\":false,\"after_cursor\":\"eyJvIjoibmFtZSxpZCIsInYiOiJjd29BQUFCRGNtVmhkR2wyYVdObGFaMUFSbHhKQlFBQSJ9\",\"before_cursor\":\"eyJvIjoibmFtZSxpZCIsInYiOiJjd29BQUFCRGNtVmhkR2wyYVdObGFaMUFSbHhKQlFBQSJ9\"},\"links\":{\"prev\":\"https://creativice.zendesk.com/api/v2/organizations.json?page%5Bbefore%5D=eyJvIjoibmFtZSxpZCIsInYiOiJjd29BQUFCRGNtVmhkR2wyYVdObGFaMUFSbHhKQlFBQSJ9&page%5Bsize%5D=100\",\"next\":\"https://creativice.zendesk.com/api/v2/organizations.json?page%5Bafter%5D=eyJvIjoibmFtZSxpZCIsInYiOiJjd29BQUFCRGNtVmhkR2wyYVdObGFaMUFSbHhKQlFBQSJ9&page%5Bsize%5D=100\"}}"
          },
            {
              "domain": ".creativice.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
       [...]
