{
  "log": {
    "_recordingName": "buildTicketRequesterRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "1f7f1449eb5db9124d3e648a4715db0d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/users.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1728,
            "text": "{\"users\":[{\"id\":420755677092,\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/users/420755677092.json\",\"name\":\"Austin Kelleher\",\"email\":\"development@jupiterone.dev\",\"created_at\":\"2021-10-10T20:49:22Z\",\"updated_at\":\"2022-01-28T14:53:10Z\",\"time_zone\":\"America/New_York\",\"iana_time_zone\":\"America/New_York\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":361584776731,\"role\":\"admin\",\"verified\":true,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":\"2022-01-28T14:53:10Z\",\"two_factor_auth_enabled\":null,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":4,\"custom_role_id\":360019056171,\"moderator\":true,\"ticket_restriction\":null,\"only_private_comments\":false,\"restricted_agent\":false,\"suspended\":false,\"default_group_id\":360021738231,\"report_csv\":true,\"user_fields\":{}},{\"id\":420924998451,\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/users/420924998451.json\",\"name\":\"The Customer\",\"email\":\"customer@example.com\",\"created_at\":\"2021-10-10T20:49:34Z\",\"updated_at\":\"2021-10-10T20:49:36Z\",\"time_zone\":\"America/New_York\",\"iana_time_zone\":\"America/New_York\",\"phone\":null,\"shared_phone_number\":null,\"photo\":{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/attachments/361209460612.json\",\"id\":361209460612,\"file_name\":\"profile_image_420924998451_11522198.png\",\"content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198.png\",\"mapped_content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198.png\",\"content_type\":\"image/png\",\"size\":10254,\"width\":80,\"height\":80,\"inline\":false,\"deleted\":false,\"thumbnails\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/attachments/361209460632.json\",\"id\":361209460632,\"file_name\":\"profile_image_420924998451_11522198_thumb.png\",\"content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198_thumb.png\",\"mapped_content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198_thumb.png\",\"content_type\":\"image/png\",\"size\":2402,\"width\":32,\"height\":32,\"inline\":false,\"deleted\":false}]},\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":null,\"two_factor_auth_enabled\":false,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":null,\"custom_role_id\":null,\"moderator\":false,\"ticket_restriction\":\"requested\",\"only_private_comments\":false,\"restricted_agent\":true,\"suspended\":false,\"default_group_id\":null,\"report_csv\":false,\"user_fields\":{}}],\"next_page\":null,\"previous_page\":null,\"count\":2}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "etag",
              "value": "W/\"36c2112d81c32523e5f22107dba4e05b\""
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "192"
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-ntbbn"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 418,
      },
      {
        "_id": "565bcf182bd34ea1e26c05d3889464f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/tickets.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1274,
            "text": "{\"tickets\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/tickets/1.json\",\"id\":1,\"external_id\":null,\"via\":{\"channel\":\"sample_ticket\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"created_at\":\"2021-10-10T20:49:34Z\",\"updated_at\":\"2021-10-10T20:49:35Z\",\"type\":\"incident\",\"subject\":\"Sample ticket: Meet the ticket\",\"raw_subject\":\"Sample ticket: Meet the ticket\",\"description\":\"Hi there,\\n\\nI’m sending an email because I’m having a problem setting up your new product. Can you help me troubleshoot?\\n\\nThanks,\\n The Customer\\n\\n\",\"priority\":\"normal\",\"status\":\"open\",\"recipient\":null,\"requester_id\":420924998451,\"submitter_id\":420755677092,\"assignee_id\":420755677092,\"organization_id\":null,\"group_id\":360021738231,\"collaborator_ids\":[],\"follower_ids\":[],\"email_cc_ids\":[],\"forum_topic_id\":null,\"problem_id\":null,\"has_incidents\":false,\"is_public\":true,\"due_at\":null,\"tags\":[\"sample\",\"support\",\"zendesk\"],\"custom_fields\":[],\"satisfaction_rating\":null,\"sharing_agreement_ids\":[],\"fields\":[],\"followup_ids\":[],\"brand_id\":360006992911,\"allow_channelback\":false,\"allow_attachments\":true}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "188"
            },
            {
              "name": "etag",
              "value": "W/\"89d73b4dad93cf6e82b9da57db73474f\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-zph8d"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
