{
  "log": {
    "_recordingName": "buildTicketRequesterRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c4426b8542163bb81480d4c3c3576118",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "_fromType": "array",
              "name": "role",
              "value": "end-user"
            },
            {
              "_fromType": "array",
              "name": "role",
              "value": "admin"
            },
            {
              "_fromType": "array",
              "name": "role",
              "value": "agent"
            },
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://metronsecurity.zendesk.com/api/v2/users.json?role%5B%5D=end-user&role%5B%5D=admin&role%5B%5D=agent&page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 2015,
            "text": "{\"users\":[{\"id\":14930939946524,\"url\":\"https://metronsecurity.zendesk.com/api/v2/users/14930939946524.json\",\"name\":\"Ingrid Van Dijk\",\"email\":\"ingrid.vandijk@example.com\",\"created_at\":\"2024-07-15T05:56:42Z\",\"updated_at\":\"2024-07-15T05:56:43Z\",\"time_zone\":\"Asia/Kolkata\",\"iana_time_zone\":\"Asia/Kolkata\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":null,\"two_factor_auth_enabled\":null,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":null,\"custom_role_id\":null,\"moderator\":false,\"ticket_restriction\":\"requested\",\"only_private_comments\":false,\"restricted_agent\":true,\"suspended\":false,\"default_group_id\":null,\"report_csv\":false,\"user_fields\":{}},{\"id\":14930940030492,\"url\":\"https://metronsecurity.zendesk.com/api/v2/users/14930940030492.json\",\"name\":\"Jakub Wójcik\",\"email\":\"jakub.wojcik@example.com\",\"created_at\":\"2024-07-15T05:56:46Z\",\"updated_at\":\"2024-07-15T05:56:46Z\",\"time_zone\":\"Asia/Kolkata\",\"iana_time_zone\":\"Asia/Kolkata\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":nul[...]
