{
  "log": {
    "_recordingName": "buildTicketGroupRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "565bcf182bd34ea1e26c05d3889464f6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/tickets.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1274,
            "text": "{\"tickets\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/tickets/1.json\",\"id\":1,\"external_id\":null,\"via\":{\"channel\":\"sample_ticket\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"created_at\":\"2021-10-10T20:49:34Z\",\"updated_at\":\"2021-10-10T20:49:35Z\",\"type\":\"incident\",\"subject\":\"Sample ticket: Meet the ticket\",\"raw_subject\":\"Sample ticket: Meet the ticket\",\"description\":\"Hi there,\\n\\nI’m sending an email because I’m having a problem setting up your new product. Can you help me troubleshoot?\\n\\nThanks,\\n The Customer\\n\\n\",\"priority\":\"normal\",\"status\":\"open\",\"recipient\":null,\"requester_id\":420924998451,\"submitter_id\":420755677092,\"assignee_id\":420755677092,\"organization_id\":null,\"group_id\":360021738231,\"collaborator_ids\":[],\"follower_ids\":[],\"email_cc_ids\":[],\"forum_topic_id\":null,\"problem_id\":null,\"has_incidents\":false,\"is_public\":true,\"due_at\":null,\"tags\":[\"sample\",\"support\",\"zendesk\"],\"custom_fields\":[],\"satisfaction_rating\":null,\"sharing_agreement_ids\":[],\"fields\":[],\"followup_ids\":[],\"brand_id\":360006992911,\"allow_channelback\":false,\"allow_attachments\":true}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "184"
            },
            {
              "name": "etag",
              "value": "W/\"89d73b4dad93cf6e82b9da57db73474f\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-j8p58"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 316,
      },
      {
        "_id": "ed2fd5f5d5cd127ce3120f22e7ddec13",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/groups.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 426,
            "text": "{\"groups\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/groups/360021738231.json\",\"id\":360021738231,\"name\":\"Support\",\"description\":\"\",\"default\":true,\"deleted\":false,\"created_at\":\"2021-10-10T20:49:30Z\",\"updated_at\":\"2021-10-10T20:49:30Z\"}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "183"
            },
            {
              "name": "etag",
              "value": "W/\"76e3a2fd91ec6717583c8b3cf6682ee8\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-l2n7b"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 300,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
