{
  "log": {
    "_recordingName": "buildTicketGroupRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "9d99756c7630747acbf9872a53434f0b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://creativice.zendesk.com/api/v2/tickets.json?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1999,
            "text": "{\"tickets\":[{\"url\":\"https://creativice.zendesk.com/api/v2/tickets/1.json\",\"id\":1,\"external_id\":null,\"via\":{\"channel\":\"sample_ticket\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"created_at\":\"2022-07-06T18:46:17Z\",\"updated_at\":\"2022-07-06T18:46:17Z\",\"type\":\"incident\",\"subject\":\"Sample ticket: Meet the ticket\",\"raw_subject\":\"Sample ticket: Meet the ticket\",\"description\":\"Hi there,\\n\\nI’m sending an email because I’m having a problem setting up your new product. Can you help me troubleshoot?\\n\\nThanks,\\n The Customer\\n\\n\",\"priority\":\"normal\",\"status\":\"open\",\"recipient\":null,\"requester_id\":5812665774109,\"submitter_id\":5812690998173,\"assignee_id\":5812690998173,\"organization_id\":null,\"group_id\":5812638858781,\"collaborator_ids\":[],\"follower_ids\":[],\"email_cc_ids\":[],\"forum_topic_id\":null,\"problem_id\":null,\"has_incidents\":false,\"is_public\":true,\"due_at\":null,\"tags\":[\"sample\",\"support\",\"zendesk\"],\"custom_fields\":[],\"satisfaction_rating\":null,\"sharing_agreement_ids\":[],\"followup_ids\":[],\"ticket_form_id\":5812670359197,\"brand_id\":5812681174557,\"allow_channelback\":false,\"allow_attachments\":true},{\"url\":\"https://creativice.zendesk.com/api/v2/tickets/2.json\",\"id\":2,\"external_id\":null,\"via\":{\"channel\":\"web\",\"source\":{\"from\":{},\"to\":{},\"rel\":null}},\"created_at\":\"2022-07-11T15:33:00Z\",\"updated_at\":\"2022-07-11T15:33:00Z\",\"type\":null,\"subject\":\"test ticket #1\",\"raw_subject\":\"test ticket #1\",\"description\":\"Test\",\"priority\":null,\"status\":\"open\",\"recipient\":null,\"requester_id\":5812690998173,\"submitter_id\":5812690998173,\"assignee_id\":[...]
