{
  "log": {
    "_recordingName": "buildOrganizationGroupRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c6dc120cd78f10fd85db25eb41d50feb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://metronsecurity.zendesk.com/api/v2/groups.json&page[size]=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 308,
            "text": "{\"groups\":[{\"url\":\"https://metronsecurity.zendesk.com/api/v2/groups/14930942538780.json\",\"id\":14930942538780,\"is_public\":true,\"name\":\"Support\",\"description\":\"\",\"default\":true,\"deleted\":false,\"created_at\":\"2024-07-15T05:55:19Z\",\"updated_at\":\"2024-07-15T05:55:19Z\"}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
            {
              "domain": ".metronsecurity.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v21537"
            },
            {
              "name": "x-rate-limit",
              "value": "400"
            },
            {
              "name": "ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "390"
            },
            {
              "name": "ratelimit-remaining",
              "value": "390"
            },
            {
              "name": "ratelimit-reset",
              "value": "16"
            },
            {
              "name": "etag",
              "value": "W/\"acda921e6d3c5e0c561175e5c0d79bb8\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7b76c496cc-z2f8l"
            },
            {
              "name": "x-zendesk-api-gateway",
              "value": "yes"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      },
      {
        "_id": "cb8165a92c108942bf3a3769ad3b3629",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://metronsecurity.zendesk.com/api/v2/organizations.json&page[size]=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 375,
            "text": "{\"organizations\":[{\"url\":\"https://metronsecurity.zendesk.com/api/v2/organizations/14930942539036.json\",\"id\":14930942539036,\"name\":\"Metron security\",\"shared_tickets\":false,\"shared_comments\":false,\"external_id\":null,\"created_at\":\"2024-07-15T05:55:19Z\",\"updated_at\":\"2024-07-15T05:55:19Z\",\"domain_names\":[],\"details\":null,\"notes\":null,\"group_id\":null,\"tags\":[],\"organization_fields\":{}}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
            {
              "domain": ".metronsecurity.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
     [...]
