{
  "log": {
    "_recordingName": "buildOrganizationGroupRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "ed2fd5f5d5cd127ce3120f22e7ddec13",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/groups.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 426,
            "text": "[\"1f8b0800000000000003858ecd6e02310c84dfc5e76593cd56fdc96bc0098450b46b686848acc45e5545bc7bddf6524e48becc68e6f35ce1548b5003bfbb82d4041ede99a97963ce4291b1968cab1997fe0bf38ceda39fcac5048a6671e6af6ac6676bddf032beba71e8cfad64e820cee0fffb1de47041a5af85a854d688d2a61a89a3163cfc1ac72089c17315fc91091995730ca9a99e2a06d587a00970fa713558bd8db3fee9cd8f76ab08a1f941e6b6d729f8c9070a27dd9325a50ea8e2128bb43b732a92f5d570fb0619c2c7d924010000\"]"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10370"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "199"
            },
            {
              "name": "etag",
              "value": "W/\"76e3a2fd91ec6717583c8b3cf6682ee8\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7dd6688cff-6m4dl"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 449,
      },
      {
        "_id": "de45a5ef1f284a357f682f3933d50fc4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/organizations.json[...]
