{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d0b8a2362666dd9a4d9c1256a6cab5f9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://metronsecurity.zendesk.com/api/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 248,
            "text": "{\"account\":{\"url\":\"https://metronsecurity.zendesk.com\",\"name\":\"Metron security\",\"sandbox\":false,\"subdomain\":\"metronsecurity\",\"time_format\":24,\"time_zone\":\"Asia/Kolkata\",\"owner_id\":14930942403996,\"multiproduct\":true}}"
          },
            {
              "domain": ".metronsecurity.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v21537"
            },
            {
              "name": "x-rate-limit",
              "value": "400"
            },
            {
              "name": "ratelimit-limit",
              "value": "400"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "397"
            },
            {
              "name": "ratelimit-remaining",
              "value": "397"
            },
            {
              "name": "ratelimit-reset",
              "value": "17"
            },
            {
              "name": "etag",
              "value": "W/\"e0be033c9badd6d81992624b9214f376\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7b76c496cc-msgc9"
            },
            {
              "name": "x-zendesk-api-gateway",
              "value": "yes"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 391,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
