{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "6963c6f3f589a3e055a06cafb0ba8004",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 362,
            "text": "{\"account\":{\"url\":\"https://jupiterone-dev.zendesk.com\",\"name\":\"JupiterOne\",\"sandbox\":false,\"subdomain\":\"jupiterone-dev\",\"time_format\":24,\"time_zone\":\"America/New_York\",\"owner_id\":420755677092,\"multiproduct\":true}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "195"
            },
            {
              "name": "etag",
              "value": "W/\"a80e3e81a54a847723877a9cbb1366d9\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-qq5k9"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
