{
  "log": {
    "_recordingName": "fetchAccount",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "71132bc8328738c324ffee5bedf9bc22",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://creativice.zendesk.com/api/v2/account"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 348,
            "text": "{\"account\":{\"url\":\"https://creativice.zendesk.com\",\"name\":\"Creativice\",\"sandbox\":false,\"subdomain\":\"creativice\",\"time_format\":24,\"time_zone\":\"Europe/Belgrade\",\"owner_id\":5812690998173,\"multiproduct\":true}}"
          },
            {
              "domain": ".creativice.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v12848"
            },
            {
              "name": "x-rate-limit",
              "value": "400"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "399"
            },
            {
              "name": "etag",
              "value": "W/\"970818d7b55eb7bd1f1c2b110b6a095a\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7c5f486964-fhtk5"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
