{
  "log": {
    "_recordingName": "fetchUsers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "959cc276a771d675ba3c178b8fb3e536",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": {
                "size": "100"
              }
            }
          ],
          "url": "https://creativice.zendesk.com/api/v2/users.json?page%5Bsize%5D=100"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 1977,
            "text": "{\"users\":[{\"id\":5812665774109,\"url\":\"https://creativice.zendesk.com/api/v2/users/5812665774109.json\",\"name\":\"The Customer\",\"email\":\"customer@example.com\",\"created_at\":\"2022-07-06T18:46:17Z\",\"updated_at\":\"2022-07-06T18:46:17Z\",\"time_zone\":\"Europe/Belgrade\",\"iana_time_zone\":\"Europe/Belgrade\",\"phone\":null,\"shared_phone_number\":null,\"photo\":{\"url\":\"https://creativice.zendesk.com/api/v2/attachments/5812638919325.json\",\"id\":5812638919325,\"file_name\":\"profile_image_5812665774109_14239391.png\",\"content_url\":\"https://creativice.zendesk.com/system/photos/5812638919325/profile_image_5812665774109_14239391.png\",\"mapped_content_url\":\"https://creativice.zendesk.com/system/photos/5812638919325/profile_image_5812665774109_14239391.png\",\"content_type\":\"image/png\",\"size\":10183,\"width\":80,\"height\":80,\"inline\":false,\"deleted\":false,\"thumbnails\":[{\"url\":\"https://creativice.zendesk.com/api/v2/attachments/5812670476829.json\",\"id\":5812670476829,\"file_name\":\"profile_image_5812665774109_14239391_thumb.png\",\"content_url\":\"https://creativice.zendesk.com/system/photos/5812638919325/profile_image_5812665774109_14239391_thumb.png\",\"mapped_content_url\":\"https://creativice.zendesk.com/system/photos/5812638919325/profile_image_5812665774109_14239391_thumb.png\",\"content_type\":\"image/png\",\"size\":2331,\"width\":32,\"height\":32,\"inline\":false,\"deleted\":false}]},\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":null,\"role\":\"end-user\",\"verified\":false,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":null,\"two_factor_auth_enabled\":false,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":null,\"custom_role_id\":null,\"moderator\":false,\"ticket_restriction\":\"requested\",\"only_private_comments\":false,\"restricted_agent\":true,\"suspended\":false,\"default_group_id\":null,\"report_csv\":false,\"user_fields\":{}},{\"id\":5812690998173,\"url\":\"https://creativice.zendesk.com/api/v2/users/5812690998173.json\",\"name\":\"Stefan Virag\",\"email\":\"stefan@creativice.com\",\"created_at\":\"2022-07-06T18:46:05Z\",\"updated_at\":\"2022-07-11T17:40:44Z\",\"time_zone\":\"Europe/Belgrade\",\"iana_time_zone\":\"Europe/Belgrade\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":5812638859421,\"role\":\"admin\",\"verified\":true,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":\"2022-07-11T17:40:44Z\",\"two_factor_auth_enabled\":null,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":4,\"custom_role_id\":5812670200733,\"moderator\":true,\"ticket_restriction\":null,\"only_private_comments\":false,\"restricted_agent\":false,\"suspended\":false,\"default_group_id\":5812638858781,\"report_csv\":true,\"user_fields\":{}}],\"meta\":{\"has_more\":false,\"after_cursor\":\"eyJvIjoiaWQiLCJ2IjoiYVozVFlWOUpCUUFBIn0=\",\"before_cursor\":\"eyJvIjoiaWQiLCJ2IjoiYVIzdzRGMUpCUUFBIn0=\"},\"links\":{\"prev\":\"https://creativice.zendesk.com/api/v2/users.json?page%5Bbefore%5D=eyJvIjoiaWQiLCJ2IjoiYVIzdzRGMUpCUUFBIn0%3D&page%5Bsize%5D=100\",\"next\":\"https://creativice.zendesk.com/api/v2/users.json?page%5Bafter%5D=eyJvIjoiaWQiLCJ2IjoiYVozVFlWOUpCUUFBIn0%3D&page%5Bsize%5D=100\"}}"
          },
            {
              "domain": ".creativice.zendesk.com",
              "httpOnly": true,
              "name": "__cfruid",
              "path": "/",
              "sameSite": "None",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v12848"
            },
            {
              "name": "x-rate-limit",
              "value": "400"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "399"
            },
            {
              "name": "etag",
              "value": "W/\"21608bc976ccfbc1bd105377aefd7300\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7c5f486964-6hfrf"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 386,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
