{
  "log": {
    "_recordingName": "buildUserGroupRelationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "ed2fd5f5d5cd127ce3120f22e7ddec13",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/groups.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 426,
            "text": "{\"groups\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/groups/360021738231.json\",\"id\":360021738231,\"name\":\"Support\",\"description\":\"\",\"default\":true,\"deleted\":false,\"created_at\":\"2021-10-10T20:49:30Z\",\"updated_at\":\"2021-10-10T20:49:30Z\"}],\"next_page\":null,\"previous_page\":null,\"count\":1}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "zendesk-api-version",
              "value": "2022-01-01"
            },
            {
              "name": "x-zendesk-api-version",
              "value": "v2"
            },
            {
              "name": "x-zendesk-application-version",
              "value": "v10911"
            },
            {
              "name": "x-rate-limit",
              "value": "200"
            },
            {
              "name": "x-rate-limit-remaining",
              "value": "191"
            },
            {
              "name": "etag",
              "value": "W/\"76e3a2fd91ec6717583c8b3cf6682ee8\""
            },
            {
              "name": "x-zendesk-origin-server",
              "value": "classic-app-server-7f77698bc-6rqbb"
            },
            {
              "name": "x-zendesk-zorg",
              "value": "yes"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 305,
      },
      {
        "_id": "1f7f1449eb5db9124d3e648a4715db0d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            }
          ],
          "url": "https://jupiterone-dev.zendesk.com/api/v2/users.json?page=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1728,
            "text": "{\"users\":[{\"id\":420755677092,\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/users/420755677092.json\",\"name\":\"Austin Kelleher\",\"email\":\"development@jupiterone.dev\",\"created_at\":\"2021-10-10T20:49:22Z\",\"updated_at\":\"2022-01-28T14:53:10Z\",\"time_zone\":\"America/New_York\",\"iana_time_zone\":\"America/New_York\",\"phone\":null,\"shared_phone_number\":null,\"photo\":null,\"locale_id\":1,\"locale\":\"en-US\",\"organization_id\":361584776731,\"role\":\"admin\",\"verified\":true,\"external_id\":null,\"tags\":[],\"alias\":null,\"active\":true,\"shared\":false,\"shared_agent\":false,\"last_login_at\":\"2022-01-28T14:53:10Z\",\"two_factor_auth_enabled\":null,\"signature\":null,\"details\":null,\"notes\":null,\"role_type\":4,\"custom_role_id\":360019056171,\"moderator\":true,\"ticket_restriction\":null,\"only_private_comments\":false,\"restricted_agent\":false,\"suspended\":false,\"default_group_id\":360021738231,\"report_csv\":true,\"user_fields\":{}},{\"id\":420924998451,\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/users/420924998451.json\",\"name\":\"The Customer\",\"email\":\"customer@example.com\",\"created_at\":\"2021-10-10T20:49:34Z\",\"updated_at\":\"2021-10-10T20:49:36Z\",\"time_zone\":\"America/New_York\",\"iana_time_zone\":\"America/New_York\",\"phone\":null,\"shared_phone_number\":null,\"photo\":{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/attachments/361209460612.json\",\"id\":361209460612,\"file_name\":\"profile_image_420924998451_11522198.png\",\"content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198.png\",\"mapped_content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198.png\",\"content_type\":\"image/png\",\"size\":10254,\"width\":80,\"height\":80,\"inline\":false,\"deleted\":false,\"thumbnails\":[{\"url\":\"https://jupiterone-dev.zendesk.com/api/v2/attachments/361209460632.json\",\"id\":361209460632,\"file_name\":\"profile_image_420924998451_11522198_thumb.png\",\"content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198_thumb.png\",\"mapped_content_url\":\"https://jupiterone-dev.zendesk.com/system/photos/361209460612/profile_image_420924998451_11522198_thumb.png\",\"content_type\":\"image/png\",\"size\":2402,\"width\":32,\"height\[...]
